/* .my-container {
  
  max-width: 800px;
  margin: auto;
} 
*/

.status,
.dialog,
.messages {
  border: 1px solid black;
  box-shadow: 3px 3px;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.intro {
  font-style: italic;
  padding: 5px;
}

.option {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid black;
  transition: 0.5s all;
  cursor: pointer;
}

.option:hover {
  background-color: black;
  color: white;
}
/*
button {
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}
*/
.messages {
  max-height: 10em;
  overflow-y: scroll;
}

.message {}

.screept_condition {
  padding-left: 1em;
}

.screept-statement-block {
  padding: 1em;
  border: solid 1px gray;
}

.screept-editor-intvalue, .screept-editor-statement {

  font-family: monospace;
}


.screept-editor-variable {
  font-weight: bold;
}

/* .screept-editor-variable-literal {
  color: blue;
}
.screept-editor-intconst {
  color:green;
}
.screept-editor-variable-computed {
  color: aqua;
}
.screept-editor-unaryop {
  color: red;
} */
.screept-editor-text-string {
  font-style: italic;
}